################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
*.cache
*.CopyComplete
/.vs
/packages
*/**/packages
*/**/bin
*/**/obj
*/**/.vs

/Data/World of Warcraft/_classic_/WTF/Account
/Data/World of Warcraft/_retail_/WTF/Account