################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
*.cache
*.CopyComplete
/.vs
/packages
*/**/packages
*/**/bin
*/**/obj
*/**/.vs

/Data/Test/_classic_/WTF/Account
/Data/Test/_retail_/WTF/Account

/Data/SavedVariables/**/*.*
/Data/Results/**/*.*
*.key
