<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Goblintools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Goblintools.Properties.Settings>
      <setting name="DataPath" serializeAs="String">
        <value>C:\Source\GitHub\JVermeulen\Goblintools\Data</value>
      </setting>
      <setting name="WowPath" serializeAs="String">
        <value>C:\Source\GitHub\JVermeulen\Goblintools\Data\Test</value>
      </setting>
      <setting name="PollInterval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="InputPath" serializeAs="String">
        <value>C:\Source\GitHub\JVermeulen\Goblintools\Data\SavedVariables</value>
      </setting>
      <setting name="OutputPath" serializeAs="String">
        <value>C:\Source\GitHub\JVermeulen\Goblintools\Data\Results</value>
      </setting>
    </Goblintools.Properties.Settings>
  </applicationSettings>
</configuration>